        <div id="detailpart_editor" class="panel-body">
          <fieldset>
            <legend>Změň část</legend>
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Chyba</h4>
                  </div>
                  <div id="part_edit_modal" class="modal-body"></div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Opravit</button>
                  </div>
                </div>
              </div>
            </div>

            <div id="detailpart_editor_body" class="col-sm-10"></div>

            <div class="col-sm-2">
              <a id="do_save_part" data-toggle="tooltip" data-placement="top"
                       onclick="savePart(this)"
                       title="Ulož část" class="btn btn-danger pull-right button-results"
                       ><span class="glyphicon glyphicon-floppy-disk"></span> Ulož</a>
              <br />
            </div>

          </fieldset>
        </div>
