<div id="detailpart_body" class="panel-body" >
  <fieldset>
    <legend>Část</legend>
    <div id="detailpart_view_body" class="col-sm-10"></div>

    <div class="col-sm-2">
      <a id="do_download_part" data-toggle="tooltip" data-placement="top"
               onclick="downloadPart(this)"
                href="#"
                download=""
               title="Stáhni část" class="btn btn-success pull-right button-results"
               ><span class="glyphicon glyphicon-download-alt"></span> Stáhni</a>
    </div>
  </fieldset>
</div>
