<div class="panel-heading" data-toggle="collapse" data-target="#collapse_detailpart" aria-controls="collapse_detailpart" aria-expanded="false">
  <span class="panel-title">
    <span id="detail_part_title"></span>
  </span>
  <span class="btn-group pull-right">

    <span id="btn_detailpart_follow" data-toggle="tooltip" data-placement="top"
          title="Rozbal odkazované bloky"
          onclick="_stop(event); toggleFollow(this) && updatePart();"
          class="btn btn-default btn-xs glyphicon glyphicon-share"></span>

    <span id="btn_detailpart_indent_left" data-toggle="tooltip" data-placement="top"
          title="Zmenši odsazení"
          onclick="_stop(event); changeIndent(-1) && updatePart();"
          class="btn btn-default btn-xs glyphicon glyphicon-menu-left"></span>

    <span id="btn_detailpart_indent_right" data-toggle="tooltip" data-placement="top"
          title="Zvětši odsazení"
          onclick="_stop(event); changeIndent(1) && updatePart();"
          class="btn btn-default btn-xs glyphicon glyphicon-menu-right"></span>

    <span id="btn_detailpart_edit" data-toggle="tooltip" data-placement="top"
          title="Změň část"
          onclick="_stop(event); partEdit();"
          class="btn btn-default btn-xs glyphicon glyphicon-pencil"></span>

  </span>
</div>
