<div id="title" class="navbar-header">
  <a href="/" data-toggle="tooltip" data-placement="bottom" title="Hlavní stránka se scénářem" class="nowrap">
    <span class="glyphicon glyphicon-hdd" ></span>
  </a>
</div>
