<div class="col-sm-5 panel panel-primary dropdown" id="tasks">

  <div id="tasks_heading" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true" class="panel-heading dropdown-toggle">

    <span class="panel-title" data-toggle="tooltip" data-placement="bottom" title="Rozbalovací seznam úloh">
      <span class="glyphicon glyphicon-paperclip" ></span> Úlohy
      <span id="count_tasks" data-toggle="tooltip" data-placement="bottom" title="Počet úloh" class="badge"></span>
      <span id="tasks_active"></span>
    </span>

    <span class="btn-group pull-right">

      <span id="btn_task_add" onClick="_stop(event); return setTaskInput(this, 'Přidej úlohu', '', 'addTask', 'glyphicon-plus', true);"
      data-toggle="tooltip" data-placement="bottom" title="Přidej úlohu" class="btn btn-default btn-xs glyphicon glyphicon-plus"></span>

      <span id="btn_task_search" onClick="_stop(event); return filterInput('#task_filter_group', '#tasks_heading')" data-toggle="tooltip" data-placement="bottom" title="Vyhledej úlohu" class="btn btn-default btn-xs glyphicon glyphicon-search"></span>

    </span>

    <div class="inner-addon left-addon" id="task_filter_group">
      <i class="glyphicon glyphicon-search"></i>
      <input type="text" class="form-control left-border-none" id="task_filter"
            onkeyup="filterList('#task_filter', '#task_list', '#btn_task_search', '#tasks_heading')"
            placeholder="Vyhledej úlohu" />
    </div>

    <div class="inner-addon left-addon" id="task_add_group">
        <i id="task_filter_icon" class="glyphicon glyphicon-plus"></i>
        <input type="text" class="form-control left-border-none" onkeyup="actionInput(this, event)" placeholder="Přidej úlohu" />
    </div>

  </div>

  <div id="task_list" class="dropdown-menu list-group panel-primary"></div>

</div>
