<div class="col-sm-5 panel panel-primary dropdown" id="parts">

  <div id="parts_heading" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true" class="panel-heading dropdown-toggle">

    <span class="panel-title" data-toggle="tooltip" data-placement="bottom" title="Rozbalovací seznam částí úlohy">
      <span class="glyphicon glyphicon-object-align-bottom"></span> Části
      <span id="count_parts" data-toggle="tooltip" data-placement="bottom" title="Počet částí" class="badge"></span>
      <span id="parts_active"></span>
    </span>

    <span class="btn-group pull-right">

      <span onClick="_stop(event); return setPartInput(this, 'Přidej blok', '', '', 'addPartBlock', 'glyphicon-th-large', true);"
      data-toggle="tooltip" data-placement="bottom" title="Přidej blok" class="btn btn-default btn-xs glyphicon glyphicon-th-large"></span>

      <span onClick="_stop(event); return setPartInput(this, 'Přidej seek', '', '', 'addPartSeek', 'glyphicon-dashboard', true);"
      data-toggle="tooltip" data-placement="bottom" title="Přidej seek" class="btn btn-default btn-xs glyphicon glyphicon-dashboard"></span>

      <span onClick="_stop(event); return setPartInput(this, 'Přidej def', '', '', 'addPartDef', 'glyphicon-calendar', true);"
      data-toggle="tooltip" data-placement="bottom" title="Přidej def" class="btn btn-default btn-xs glyphicon glyphicon-calendar"></span>

      <span id="btn_part_search" onClick="_stop(event); return filterInput('#part_filter_group', '#parts_heading')" data-toggle="tooltip" data-placement="bottom" title="Vyhledej část" class="btn btn-default btn-xs glyphicon glyphicon-search"></span>

    </span>

    <div class="inner-addon left-addon" id="part_filter_group">
      <i class="glyphicon glyphicon-search"></i>
      <input type="text" class="form-control left-border-none" id="part_filter"
             onkeyup="filterList('#part_filter', '#part_list', '#btn_part_search', '#parts_heading')"
             placeholder="Vyhledej část" />
    </div>

    <div class="inner-addon left-addon" id="part_add_group">
        <i id="part_filter_icon" class="glyphicon glyphicon-plus"></i>
        <input type="text" class="form-control left-border-none" onkeyup="actionInput(this, event)" placeholder="Přidej část" />
    </div>

  </div>

  <div id="part_list" class="dropdown-menu list-group panel-primary"></div>

</div>
