<div id="run_body_run" class="panel-body">
  <fieldset>
    <legend>Spusť simulaci</legend>

    <div class="col-sm-10">
      <table>
        <tbody>

          <tr>
            <td><span class="glyphicon glyphicon-th-large text-success"></span> Konfigurace:</td>
            <td><select id="select_run_main"
                data-placeholder="Vyber hlavní konfiguraci"
                data-minimum-results-for-search="Infinity"
                data-language="cs"
              ></select></td>
          </tr>

          <tr>
            <td><span class="glyphicon glyphicon-inbox text-success"></span> Komponenta:</td>
            <td><select id="select_run_component"
                data-placeholder="Vyber komponentu"
                data-language="cs"
              ></select></td>
          </tr>

          <tr>
            <td><span class="glyphicon glyphicon-tag text-success"></span> Parametr:</td>
            <td><select id="select_run_parameter"
                data-placeholder="Vyber parametr"
                data-language="cs"
              ></select></td>
          </tr>

          <tr>
            <td><span class="glyphicon glyphicon-edit text-success"></span> Hodnoty:</td>
            <td><input type="text" id="input_run_values"
                 class="form-control input-sm"
                 placeholder="Zadej hodnoty oddělené mezerou nebo:"
              /></td>
          </tr>

          <tr>
            <td></td>
            <td>

              <label for="input_run_value_from">od:
                <input type="number" id="input_run_value_from" class="form-control input-sm" />
              </label>

              <label for="input_run_value_to">do:
                <input type="number" id="input_run_value_to" class="form-control input-sm" />
              </label>

              <label for="input_run_value_step">po:
                <input type="number" id="input_run_value_step" class="form-control input-sm" />
              </label>

            </td>

          </tr>

        </tbody>
      </table>
    </div>

    <div class="col-sm-2">
      <div id="do_run" data-toggle="tooltip" data-placement="top"
               title="Spusť simulaci" class="btn btn-danger pull-right"
               onclick="runSimulation()"><span class="glyphicon glyphicon-play"></span> Spusť</div>
    </div>

  </fieldset>
</div>
