<div class="panel-heading" data-toggle="collapse" data-target="#collapse_run" aria-controls="collapse_run" aria-expanded="false">

  <span class="panel-title">
    <span id="run_title"></span>
    <span id="count_waiting" data-toggle="tooltip" data-placement="top" title="Čekajících simulací" class="label label-default label-as-badge"></span>
    <span id="count_running" data-toggle="tooltip" data-placement="top" title="Běžících simulací" class="label label-warning label-as-badge"></span>
    <span id="count_failed" data-toggle="tooltip" data-placement="top" title="Neúspěšných simulací" class="label label-danger label-as-badge"></span>
    <span id="count_done" data-toggle="tooltip" data-placement="top" title="Hotových simulací" class="label label-success label-as-badge"></span>
  </span>

  <span class="btn-group pull-right">

    <span id="btn_run_run" data-toggle="tooltip" data-placement="top"
          title="Zobraz panel spouštění simulací" onClick="_stop(event); $('#run_body_run').toggle();"
          class="btn btn-default btn-xs glyphicon glyphicon-play"></span>

    <span id="btn_run_result" data-toggle="tooltip" data-placement="top"
          title="Zobraz panel výsledků simulací" onClick="_stop(event); return toggleResults(this);"
          class="btn btn-default btn-xs glyphicon glyphicon-stats"></span>

    <span id="btn_run_remove" data-toggle="tooltip" data-placement="top"
          title="Smaž simulace" onClick="_stop(event); return removeRun(this);"
          style="margin-left: 2em"
          class="btn btn-danger btn-xs glyphicon glyphicon-remove"></span>

  </span>

</div>
