<div id="run_body_results" class="panel-body" data-show-results="true">
  <fieldset>
    <legend>Výsledky simulací</legend>

    <div class="col-sm-10">
      <div id="results_paginator"></div>
      <div id="results-params"></div>
      <div id="tree"></div>
      <img id="imgResults" alt="Výsledky" src="#" class="col-sm-12">
    </div>

    <div id="resultButtons" class="col-sm-2">
      <a data-toggle="tooltip" data-placement="top"
               title="Zobraz graf simulací" class="btn btn-success pull-right button-results"
               onclick="getMetricPicture()"><span class="glyphicon glyphicon-stats"></span> Ukaž</a>
      <br />
      <a data-toggle="tooltip" data-placement="top"
               title="Stáhni výsledky simulací v CSV" class="btn btn-default pull-right button-results"
               onclick="return resultsDownload(this, 'csv')"><span class="glyphicon glyphicon-floppy-disk"></span> CSV</a>

      <br />
      <a data-toggle="tooltip" data-placement="top"
               title="Stáhni graf simulací v PNG" class="btn btn-default pull-right button-results"
               onclick="return resultsDownload(this, 'png')"><span class="glyphicon glyphicon-floppy-disk"></span> PNG</a>

      <br />
      <a data-toggle="tooltip" data-placement="top"
               title="Stáhni graf simulací v GIF" class="btn btn-default pull-right button-results"
               onclick="return resultsDownload(this, 'gif')"><span class="glyphicon glyphicon-floppy-disk"></span> GIF</a>

      <br />
      <a data-toggle="tooltip" data-placement="top"
               title="Stáhni graf simulací v SVG" class="btn btn-default pull-right button-results"
               onclick="return resultsDownload(this, 'svg')"><span class="glyphicon glyphicon-floppy-disk"></span> SVG</a>

      <br />
      <div class="toggle-log pull-right" data-toggle="tooltip" data-placement="top" title="Měřítko osy X">
        <input id="logX" type="checkbox" data-toggle="toggle" data-on="log X" data-off="linear X"
                data-width="84" data-height="34" data-onstyle="warning" data-offstyle="info"
                onchange="getMetricPicture()">
      </div>

      <br />
      <div class="toggle-log pull-right" data-toggle="tooltip" data-placement="top" title="Měřítko osy Y">
        <input id="logY" type="checkbox" data-toggle="toggle" data-on="log Y" data-off="linear Y"
                data-width="84" data-height="34" data-onstyle="warning" data-offstyle="info"
                onchange="getMetricPicture()">
      </div>

    </div>

  </fieldset>
</div>
