<div class="panel-body" id="script-parameters">

  <fieldset>
    <legend>Proměnný parametr</legend>

    <table class="table table-striped">
    <tr><th><input type="radio" name="optionsRadios" class="script-check" checked="checked"></th>
        <th>žádný</th>
        <th>od:</th>
        <th>do:</th>
        <th>po:</th>
    </tr>
    <tr><td><input type="radio" name="optionsRadios" class="script-check" data-group="script-radio-disks" data-multiply="1" data-component="Topology" data-parameter="Disks"></td>
        <td><b>Počet&nbsp;disků<br />&nbsp;&nbsp;každého&nbsp;pole:&nbsp;</b></td>
        <td><span class="tooltip-parent"><input type="number" onchange="verifyMin(this); verifyMax(this);" min="1" max="15" value="3" data-group="script-radio-disks" class="form-control script-param-value"></span></td>
        <td><span class="tooltip-parent"><input type="number" onchange="verifyMin(this); verifyMax(this);" min="1" max="15" value="15" data-group="script-radio-disks" class="form-control script-param-value"></span></td>
        <td><span class="tooltip-parent"><input type="number" onchange="verifyMin(this); verifyMax(this);" min="1" max="14" value="1" data-group="script-radio-disks" class="form-control script-param-value"></span></td>
    </tr>
    <tr><td><input type="radio" name="optionsRadios" class="script-check" data-group="script-radio-chunk" data-multiply="1" data-component="Logorg" data-parameter="Stripe unit"></td>
        <td><b>Velikost&nbsp;chunku<br />&nbsp;&nbsp;každého&nbsp;pole:&nbsp;</b></td>
        <td><span class="tooltip-parent"><input type="number" onchange="verifyMin(this)" min="1" value="8"   data-group="script-radio-chunk" class="form-control script-param-value"></span></td>
        <td><span class="tooltip-parent"><input type="number" onchange="verifyMin(this)" min="1" value="256" data-group="script-radio-chunk" class="form-control script-param-value"></span></td>
        <td><span class="tooltip-parent"><input type="number" onchange="verifyMin(this)" min="1" value="8"   data-group="script-radio-chunk" class="form-control script-param-value"></span></td>
    </tr>
    <tr><td><input type="radio" name="optionsRadios" class="script-check" data-group="script-radio-threads" data-multiply="1" data-component="Synthgen" data-parameter="Threads"></td>
        <td><b>Počet&nbsp;vláken<br />&nbsp;&nbsp;poslední&nbsp;zátěže:&nbsp;</b></td>
        <td><span class="tooltip-parent"><input type="number" onchange="verifyMin(this)" min="1" value="1"   data-group="script-radio-threads" class="form-control script-param-value"></span></td>
        <td><span class="tooltip-parent"><input type="number" onchange="verifyMin(this)" min="1" value="100" data-group="script-radio-threads" class="form-control script-param-value"></span></td>
        <td><span class="tooltip-parent"><input type="number" onchange="verifyMin(this)" min="1" value="1"   data-group="script-radio-threads" class="form-control script-param-value"></span></td>
    </tr>
    <tr><td><input type="radio" name="optionsRadios" class="script-check" data-group="script-radio-size" data-multiply="1" data-component="Synthgen" data-parameter="Request size"></td>
        <td><b>Velikost&nbsp;požadavků<br />&nbsp;&nbsp;&nbsp;&nbsp;poslední&nbsp;zátěže:&nbsp;</b></td>
        <td><span class="tooltip-parent"><input type="number" onchange="verifyMin(this)" min="1" value="2"  data-group="script-radio-size" class="form-control script-param-value"></span></td>
        <td><span class="tooltip-parent"><input type="number" onchange="verifyMin(this)" min="1" value="64" data-group="script-radio-size" class="form-control script-param-value"></span></td>
        <td><span class="tooltip-parent"><input type="number" onchange="verifyMin(this)" min="1" value="2"  data-group="script-radio-size" class="form-control script-param-value"></span></td>
    </tr>
    <tr><td><input type="radio" name="optionsRadios" class="script-check" data-group="script-radio-reads" data-multiply="0.01" data-component="Synthgen" data-parameter="Probability of read access"></td>
        <td><b>Procento&nbsp;čtení<br />&nbsp;&nbsp;poslední&nbsp;zátěže:&nbsp;</b></td>
        <td><span class="tooltip-parent"><input type="number" onchange="verifyMin(this); verifyMax(this);" min="1" max="100" value="1"   data-group="script-radio-reads" class="form-control script-param-value"></span></td>
        <td><span class="tooltip-parent"><input type="number" onchange="verifyMin(this); verifyMax(this);" min="1" max="100" value="100" data-group="script-radio-reads" class="form-control script-param-value"></span></td>
        <td><span class="tooltip-parent"><input type="number" onchange="verifyMin(this); verifyMax(this);" min="1" max="100" value="1"   data-group="script-radio-reads" class="form-control script-param-value"></span></td>
    </tr>
    </table>
  </fieldset>

  <fieldset>
    <legend>Ukončující podmínky</legend>

    <table class="table table-striped">
    <tr><td><b>Počet&nbsp;požadavků:&nbsp;</b></td>
        <td><span class="tooltip-parent"><input type="number" id="script-final-requests" onchange="verifyMin(this)" min="1" step="10" class="form-control script-final-value" value="5000"></span></td>
    </tr>
    <tr><td><b>Doba&nbsp;simulace:&nbsp;</b></td>
        <td><span class="tooltip-parent"><input type="number" id="script-final-time" onchange="verifyMin(this)" min="1" step="10" class="form-control script-final-value" value="10000000"></span></td>
    </tr>
    <tr><td colspan="2">
        <div data-toggle="tooltip" data-placement="top"
                 title="Spusť simulaci" class="btn btn-danger pull-right"
                 onclick="runScript()"><span class="glyphicon glyphicon-play"></span> Spusť</div>
    </td></tr>
    </table>

  </fieldset>

</div>
