<div class="panel-body">
  <fieldset>
    <legend>Disková pole</legend>

    <div id="script-conf-body" class="panel-tree-list"></div>

  </fieldset>
</div>

<div id="script-conf-copy" class="hide">
  <div class="panel-body script-conf-panel">

    <b>Typ&nbsp;pole:&nbsp;</b><select onchange="verifyScriptDiskCount(this)" class="form-control script-conf-array">
      <option value="jbod"   data-min-disks="1">JBOD</option>
      <option value="raid0"  data-min-disks="2" selected>RAID 0</option>
      <option value="raid1"  data-min-disks="2">RAID 1</option>
      <option value="raid4"  data-min-disks="3">RAID 4</option>
      <option value="raid5"  data-min-disks="3">RAID 5</option>
      <option value="raid6"  data-min-disks="4" disabled>RAID 6</option>
      <option value="raid10" data-min-disks="4" disabled>RAID 10</option>
    </select>
    &nbsp;

    <b>Počet&nbsp;disků:&nbsp;</b><span class="tooltip-parent"><input onchange="verifyScriptDiskCount(this)" type="number" min="1" class="form-control script-conf-disks" value="5"></span>
    &nbsp;

    <b>Typ&nbsp;disku:&nbsp;</b><select data-placeholder="Vyber hlavní konfiguraci"
                data-minimum-results-for-search="Infinity"
                data-language="cs"
                class="form-control script-conf-disk"></select>
    &nbsp;

    <b>Velikost&nbsp;chunku:&nbsp;</b><span class="tooltip-parent"><input onchange="verifyMin(this)" type="number" min="1" class="form-control script-conf-chunk" value="64"></span>

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <button type="button" class="btn btn-success pull-right"
    onclick="addPanel(this, '#script-conf-copy')"><span class="glyphicon glyphicon-plus"></span></button>

    <button type="button" class="btn btn-danger pull-right remove-button"
    onclick="removePanel(this)"><span class="glyphicon glyphicon-remove"></span></button>

  </div>
</div>
