<div class="panel-heading" data-toggle="collapse" data-target="#collapse_script" aria-controls="collapse_script" aria-expanded="true">

  <span class="panel-title">
    <span class="glyphicon glyphicon-list"></span>
    <span id="script_title">Scénář</span>
    <span id="script_count_waiting" data-toggle="tooltip" data-placement="top" title="Čekajících simulací" class="label label-default label-as-badge"></span>
    <span id="script_count_running" data-toggle="tooltip" data-placement="top" title="Běžících simulací" class="label label-warning label-as-badge"></span>
    <span id="script_count_failed" data-toggle="tooltip" data-placement="top" title="Neúspěšných simulací" class="label label-danger label-as-badge"></span>
    <span id="script_count_done" data-toggle="tooltip" data-placement="top" title="Hotových simulací" class="label label-success label-as-badge"></span>
  </span>

  <span class="btn-group pull-right">

    <span id="btn_script_run" data-toggle="tooltip" data-placement="top"
          title="Zobraz panel spouštění simulací" onClick="_stop(event); $('#script_body_run').toggle();"
          class="btn btn-default btn-xs glyphicon glyphicon-play"></span>

    <span id="btn_script_result" data-toggle="tooltip" data-placement="top"
          title="Zobraz panel výsledků simulací" onClick="_stop(event); return toggleScriptResults(this);"
          class="btn btn-default btn-xs glyphicon glyphicon-stats"></span>

    <span id="btn_script_remove" data-toggle="tooltip" data-placement="top"
          title="Smaž simulace" onClick="_stop(event); return removeScript(this);"
          style="margin-left: 2em"
          class="btn btn-danger btn-xs glyphicon glyphicon-remove"></span>

  </span>
</div>
