<div class="panel-body">
  <fieldset>
    <legend>Syntetické zátěže</legend>

    <div id="script-load-body" class="panel-tree-list"></div>

  </fieldset>
</div>

<div id="script-load-copy" class="hide">
  <div class="panel-body script-load-panel">

    <b>Typ&nbsp;zátěže:&nbsp;</b><select class="form-control script-load-type">
      <option value="0">náhodný</option>
      <option value="1">sekvenční</option>
    </select>
    &nbsp;

    <b>Počet&nbsp;vláken:&nbsp;</b><span class="tooltip-parent"><input onchange="verifyMin(this)" type="number" min="1" class="form-control script-load-threads" value="10"></span>
    &nbsp;

    <b>Velikost&nbsp;požadavků:&nbsp;</b><span class="tooltip-parent"><input type="number" onchange="verifyMin(this)" min="1" class="form-control script-load-size" value="8"></span>
    &nbsp;

    <b>Procento&nbsp;čtení:&nbsp;</b><span class="tooltip-parent"><input type="number" onchange="verifyMin(this); verifyMax(this);" min="0" max="100" class="form-control script-load-reads" value="50"></span>

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <button type="button" class="btn btn-success pull-right"
    onclick="addPanel(this, '#script-load-copy')"><span class="glyphicon glyphicon-plus"></span></button>

    <button type="button" class="btn btn-danger pull-right remove-button"
    onclick="removePanel(this)"><span class="glyphicon glyphicon-remove"></span></button>

  </div>
</div>
